<div class="text-right p-1">
  <% if current_user.nil? %>
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-outline-light'%>
  <% else %>
    <%= link_to "Log out", destroy_user_session_path, class: 'btn btn-outline-light' , method: :delete  %>
  <% end %>
</div>

<div class="donate-div text-center">
  <div class="circle">
    <div class="inner">
      <h1 class="donate-btn">come on, rabbit !!! Donate me.</h1>
    </div>
  </div>
</div>

<div class="donate-form text-center">
  <%= render "shared/payment_form" %>
</div>

<script type="text/javascript" charset="utf-8">
    $(".donate-form").hide();
    $(".donate-btn").on("click", function(){
        $(".donate-div").hide(500);
        $(".donate-form").show();
    })
</script>
