<div class="donate-div text-center">
  <div class="circle">
    <div class="inner">
      <h1 class="donate-btn">come on, rabbit !!! Donate me.</h1>
    </div>
  </div>
</div>

<div class="donate-form text-center">
  <%= render "payments/payment_form" %>
</div>

<script type="text/javascript" charset="utf-8">
    $(".donate-form").hide();
    $(".donate-btn").on("click", function(){
        $(".donate-div").hide(500);
        $(".donate-form").show();
    })
</script>